// Mixins Here
.page-margin {
    margin: 0 10rem;
}
.btn-style(@bg-color, @fnt-color,@h, @w){
    color: @fnt-color;
    background-color: @bg-color;
    height: @h;
    width: @w;
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}