// Navigation code here
.nav {
    margin-top: 15px;
    h1, nav {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 4rem;
    }
    nav{
        font-size: 2rem;
        a {
        text-decoration: none;
        padding: 10px;
        }
    }
    h1, nav a {
        color: white;
        animation-name: font-appear;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }
}